@import url("shared-style.css");

/********************************************************************/
/***** GLOBAL *******************************************************/
/********************************************************************/

html {
    width: 100%;
    min-height: 100vh;

    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    height: auto;

    overflow-x: hidden;
    overflow-y: auto;
}

.pages {
    width: 100%;
}

.photos {
    filter: grayscale(100);
    transition: filter 1s linear;
}

.photos:hover {
    filter: none;
    transition: filter 1s linear;
}

/********************************************************************/
/***** BUTTON *******************************************************/
/********************************************************************/

a.fixedRSVP {
    font-family: 'Termina Medium', Arial, Helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);

    border-radius: 50%;
    background-color: rgba(143, 130, 94, 1);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;

    position: fixed;
    top: 24px;
    right: 24px;
    z-index: 90;
}


/********************************************************************/
/***** MENU *********************************************************/
/********************************************************************/

menu {
    white-space: nowrap;
    color: rgba(19, 19, 19, 1);

    background-color: rgba(255, 255, 255, 1);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: calc(100vw - 63px);
    height: 100%;

    padding: 5vh 0px 5vh 0px;

    position: absolute;
    top: 0px;
    left: calc(100% - 1px);
    z-index: 1;

    overflow-x: hidden;
    overflow-y: hidden;

    transition: 0.5s linear, color 1s linear 0.5s;
}

menu.hidden {
    color: transparent;

    width: 0px;
    height: 100%;

    padding: 0px;

    z-index: -1;

    transition: 1s linear;
}

menu .row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 30%;
}

menu .row:nth-of-type(1) {
    border-top: 1px Solid rgba(19, 19, 19, 0.2);
}

menu .row:nth-of-type(2) {
    border-top: 1px Solid rgba(19, 19, 19, 0.2);
    border-bottom: 1px Solid rgba(19, 19, 19, 0.2);
}

menu .row:nth-of-type(3) {
    border-bottom: 1px Solid rgba(19, 19, 19, 0.2);
}

menu .row .link {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;

    cursor: pointer;
}

menu .row .link .main-title.section-name {
    font-size: min(calc((100vw / 35) * 3), calc((100vh / 7) + 20px));
}

menu .row .link:hover .main-title.section-name {
    font-style: italic;
}

/********************************************************************/
/***** HOME *********************************************************/
/********************************************************************/

[data-content="home"] {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    min-height: 100vh;

    padding: 0vh 8vw 5vh 8vw;

    position: sticky;
    top: 0px;
    z-index: 1;
}

[data-content="home"] > img {
    width: calc(310px - (((1440px + 810px)  - (100vw + 100vh)) / 5));
    height: auto;

    position: absolute;
    top: 0px;
    right: 20%;
}

[data-content="home"] .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    flex-grow: 1;
}

[data-content="home"] .left > .brown-heading {
    margin-bottom: 72px;
}

[data-content="home"] .left p:nth-of-type(3) {
    position: relative;
}

[data-content="home"] .left p:nth-of-type(3) > img {
    width: 1.5ch;

    position: absolute;
    left: calc(100% - 25px);
}

[data-content="home"] .left p:nth-of-type(3) > img.rings {
    aspect-ratio: 1 / 1;

    top: -40px;
}

[data-content="home"] .left p:nth-of-type(3) > img.shadow {
    height: 10px;

    bottom: 0px;
}

[data-content="home"] .right {
    text-align: right;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    width: 30%;

    margin-bottom: 20px;
}


/********************************************************************/
/***** INTRO ********************************************************/
/********************************************************************/

[data-content="intro"] {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-color: rgba(244, 243, 241, 1);

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8vw;

    padding: 120px 8vw 120px 8vw;

    position: relative;
    z-index: 2;
}

[data-content="intro"] .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 120px;

    flex-shrink: 0;
}

[data-content="intro"] .left img {
    width: calc(310px - ((1440px - 100vw) / 5));
    height: auto;
}

[data-content="intro"] .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 120px;

    flex-grow: 1;
}

[data-content="intro"] .right .main-dialog {
    width: min(75%, 20ch);
}

[data-content="intro"] .right .little-dialog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    width: 100%;
}

[data-content="intro"] .right .little-dialog > p {
    width: 50%;
}

[data-content="intro"] .separator {
    border-right: 1px Solid rgba(19, 19, 19, 0.2);

    width: 1px;
    height: 250px;

    position: absolute;
    top: auto;
    bottom: 20px;
    left: 0px;
    right: 0px;

    margin-left: auto;
    margin-right: auto;
}


/********************************************************************/
/***** WHEN *********************************************************/
/********************************************************************/

[data-content="when"] {
    background-color: rgba(244, 243, 241, 1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    padding: 120px 8vw 120px 8vw;

    position: sticky;
    top: 0px;
    z-index: 3;
}

[data-content="when"] > p {
    text-align: center;
}

[data-content="when"] > p:nth-of-type(1) {
    margin-bottom: 64px;
}

[data-content="when"] > p:nth-of-type(2) {
    margin-bottom: 48px;
}

[data-content="when"] > p:nth-of-type(3) {
    width: 50%;

    margin-bottom: 32px;
}

[data-content="when"] .countdown {
    font-family: 'Termina Medium', Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0.2em;
    font-weight: bold;
    border: 1px Solid rgba(143, 130, 94, 1);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5ch;

    height: 64px;

    padding-left: 32px;
    padding-right: 32px;
}

[data-content="when"] .countdown > p {
    text-align: center;
    min-width: 3ch;
}

/********************************************************************/
/***** CHURCH AND CASTLE ********************************************/
/********************************************************************/


[data-content="church"] {
    background-color: rgba(233, 231, 226, 1);

    z-index: 4;
}

[data-content="castle"] {
    background-color: rgba(244, 243, 241, 1);

    z-index: 5;
}

[data-content="church"], [data-content="castle"] {
    --topFix: 0;

    border-top-right-radius: 24px;
    border-top-left-radius: 24px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5vh;

    min-height: 100vh;

    padding: 72px 0px 72px 0px; 

    position: sticky;
    top: var(--topFix);
}

[data-content="church"] .head, [data-content="castle"] .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
}

[data-content="church"] .head .top, [data-content="castle"] .head .top {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;
}

[data-content="church"] .head .top img, [data-content="castle"] .head .top img {
    width: calc(200px - ((1440px - 100vw) / 15));
    height: auto;
}

[data-content="church"] .head .right, [data-content="castle"] .head .right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    width: 40%;

    position: relative;
}

[data-content="church"] .head .right img, [data-content="castle"] .head .right img {
    width: calc(420px - ((1440px - 100vw) / 5));
    max-width: 100%;
    height: auto;

    position: absolute;
    transform: translateY(20%);
}

[data-content="church"] .content, [data-content="castle"] .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5vh;

    width: 100%;
    height: auto;

    padding: 50px 8vw 50px 8vw;
}

[data-content="church"] .content .mid-dialog, [data-content="castle"] .content .mid-dialog {
    width: 60%;
}

[data-content="church"] .content .hour, [data-content="castle"] .content .hour {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
    
    width: 100%;
}

[data-content="church"] .content .hour .main-dialog, [data-content="castle"] .content .hour .main-dialog {
    font-size: min(calc(120px - ((1440px - 100vw) / 15)), calc(120px - ((810px - 100vh) / 15)));
}


/********************************************************************/
/***** LOCATION *****************************************************/
/********************************************************************/

.location {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5vh;

    width: 100%;

    padding: 50px 8vw 50px 8vw;
    margin-bottom: 100px;
}

.location .title {
    font-size: min(calc(180px - ((1440px - 100vw) / 10)), calc(180px - ((810px - 100vh) / 10)));
    line-height: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    position: relative;
}

.location .main-title {
    font-size: inherit;
}

.location .title > img {
    width: auto;
    height: min(calc(130px - ((1440px - 100vw) / 10)), calc(130px - ((810px - 100vh) / 10)));

    position: absolute;
}

[data-content="church"] .location .title > img {
    top: 3px;
    left: 6ch;
}

[data-content="castle"] .location .title > img {
    bottom: 20px;
    left: 5.5ch;
}

.location .maps {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.location .maps .directions {
    background-image: url("../storage/images/map.svg");
}

.location .maps .directions:hover {
    background-image: url("../storage/images/white-map.svg");
}

/********************************************************************/
/***** GUEST ********************************************************/
/********************************************************************/

[data-content="guest"] {
    color: rgba(255, 255, 255, 1);

    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    background-color: rgba(170, 157, 121, 1);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    min-height: 100vh;

    padding: 72px 0vw 72px 0vw;

    position: sticky;
    top: 0px;
    z-index: 6;
}

[data-content="guest"] .slider {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    padding: 20px 0px 52px 0px;

    overflow-x: hidden;
    overflow-y: hidden;
}

[data-content="guest"] .slider .main-title {
    white-space: pre;

    animation: 30s linear infinite slidingLeft;
}

@keyframes slidingLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

[data-content="guest"] .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 0vh 8vw 0vh 8vw;
}

[data-content="guest"] .container .little-dialog {
    width: 50%;
}

[data-content="guest"] .container .little-dialog .grey {
    color: rgba(255, 255, 255, 0.5);
}

/********************************************************************/
/***** PRESENT ******************************************************/
/********************************************************************/

[data-content="present"] {
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    background-color: rgba(255, 255, 255, 1);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 5vh;

    padding: 120px 8vw 0px 8vw;

    position: relative;
    z-index: 7;
}

[data-content="present"] > .mid-dialog {
    width: 80%;
}

[data-content="present"] > .little-dialog {
    width: 40%;

    margin-left: 8vw;
}

[data-content="present"] .iban {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;

    width: 100%;
}

[data-content="present"] .iban .main-title {
    font-size: min(calc(120px - ((1440px - 100vw) / 15)), calc(120px - ((810px - 100vh) / 15)));
}

[data-content="present"] .separator {
    border-right: 1px Solid rgba(19, 19, 19, 0.2);

    width: 1px;
    height: 250px;

    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    margin-top: 160px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

/********************************************************************/
/***** MISC *********************************************************/
/********************************************************************/

[data-content="misc"] {
    background-color: rgba(255, 255, 255, 1);

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6vw;

    padding: 120px 8vw 120px 8vw;

    position: relative;
    z-index: 8;
}

[data-content="misc"] .main-title {
    font-size: min(calc(180px - ((1440px - 100vw) / 10)), calc(180px - ((810px - 100vh) / 10)));
    margin-bottom: 48px;
}

[data-content="misc"] .faqs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 50%;
}

[data-content="misc"] .faqs .question {
    border-bottom: 1px Solid rgba(19, 19, 19, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
}

[data-content="misc"] .faqs .question .link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 10px 0px 16px 0px;

    cursor: pointer;

    transition: 0.5s linear;
}

[data-content="misc"] .faqs .question .link.active {
    font-weight: bold;
    padding: 10px 0px 8px 0px;
}

[data-content="misc"] .faqs .question .link img {
    transform: rotate(0deg);
    transition: 0.5s linear;
}

[data-content="misc"] .faqs .question .link img.active {
    transform: rotate(-180deg);
}

[data-content="misc"] .faqs .question .answer {
    width: 100%;
    max-height: 100vh;

    padding: 0px 0px 16px 0px;

    overflow: hidden;

    transition: 0.5s linear;
}

[data-content="misc"] .faqs .question .answer.hidden {
    max-height: 0px;

    padding: 0px;
}

[data-content="misc"] .contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 50%;
}

[data-content="misc"] .contacts .numbers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
}

[data-content="misc"] .contacts .numbers > span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/********************************************************************/
/***** FOOTER *******************************************************/
/********************************************************************/

footer {
    background-color: rgba(19, 19, 19, 1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    width: 100%;
    min-height: 100vh;

    position: relative;
    top: 100%;
    z-index: 9;

    overflow-x: hidden;
    overflow-y: hidden;
}

footer .main-title {
    font-size: min(calc(120px - ((1440px - 100vw) / 15)), calc(120px - ((810px - 100vh) / 15)));
    color: rgba(255, 255, 255, 1);
    
    z-index: 1;

    margin-bottom: 10px;
}

footer .slider {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;

    overflow-x: hidden;
    overflow-y: hidden;
}

footer .slider .container {
    flex-shrink: 0;

    width: 100vw;
    height: 100%;

    animation: 20s linear infinite slidingPhotos;
}

@keyframes slidingPhotos {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%)
    }   
}

footer #footer_arrow {
    border-radius: 50%;
    background-color: transparent;

    width: 72px;
    height: 72px;

    margin-top: 14px;

    cursor: pointer;

    filter: none;
    transition: 0.5s linear;
}

footer #footer_arrow:hover {
    background-color: rgba(0, 0, 0, 1);
    filter: invert(1);
}

footer .top {
    width: calc(250px - (((1440px + 810px)  - (100vw + 100vh)) / 8));
    height: auto;

    position: absolute;
    top: 10%;
    left: 10%;
}

footer .mid {
    width: calc(300px - (((1440px + 810px)  - (100vw + 100vh)) / 8));
    height: auto;

    position: absolute;
    top: 5%;
    left: 60%;
}

footer .left {
    width: calc(250px - (((1440px + 810px)  - (100vw + 100vh)) / 8));
    height: auto;

    position: absolute;
    bottom: 10%;
    left: 0px;
}

footer .right {
    width: calc(250px - (((1440px + 810px)  - (100vw + 100vh)) / 8));
    height: auto;

    position: absolute;
    bottom: 15%;
    right: 10%;
}

footer > span {
    font-family: 'Termina Medium', Arial, Helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    width: 100%;

    padding: 20px;

    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}