@media (max-width: 640px) {
    main {
        flex-direction: column;
    }

    main .left {
        display: none;
    }

    main .right {
        width: 100%;
        padding: 20px 24px;
    }

    /********************************************************************/
    /***** RIGHT ********************************************************/
    /********************************************************************/

    main .right .brown-heading {
        margin-bottom: 20px;
    }

    main .right .mid-label {
        margin-bottom: 10px;
    }

    main .right .mid-label .question {
        font-size: 32px;
    }

    main .right #guest-login {
        gap: 16px;
    }

}