@media (max-width: 600px) {

    /********************************************************************/
    /***** MAIN *********************************************************/
    /********************************************************************/

    main {
        padding: 40px 24px;
    }

    .hero {
        text-align: left;

        justify-content: left;
    }

    .hero img {
        height: 72px;
    }

    main > p {
        text-align: left;
    }
}