@media (max-width: 600px) {
    .submit-container {
        margin-top: 24px;
        row-gap: 20px;
    }

    .summary-field {
        gap: 4px;
    }

    .button-container {
        flex-direction: column;
    }
}