@media (max-width: 600px) {

    main {
        align-items: center;

        padding-top: 56px;
    }

    /********************************************************************/
    /***** NAVBAR *******************************************************/
    /********************************************************************/

    main .sidebar {
        border-right: 0px Solid rgba(0, 0, 0, 0);
        border-bottom: 1px Solid rgba(0, 0, 0, 0.2);

        flex-direction: row;

        width: 100vw;
        height: 56px;

        padding: 12px 18px 12px 18px;
    }

    main .sidebar .logo {
        width: 32px;

        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;

        margin: auto auto auto auto;
    }

    main .sidebar .language {
        writing-mode: horizontal-tb;
        transform: none;
    }

    main .sidebar .percentage {
        --percentage: 10%;
    
        border-right: 0px Solid rgba(0, 0, 0, 1);
        border-bottom: 1px Solid rgba(0, 0, 0, 1);
    
        width: var(--percentage);
        height: 0px;
    
        position: absolute;
        top: 55px;
        left: 0px;
        right: auto;
    }

    /********************************************************************/
    /***** SIDEBAR ******************************************************/
    /********************************************************************/

    .form-feed .form-sidebar {
        display: none;
    }

}