@media (max-width: 640px) {
    /********************************************************************/
    /***** SIDEBAR ******************************************************/
    /********************************************************************/

    .form-feed .form-sidebar {
        display: none;
    }


    /********************************************************************/
    /***** INTRO ********************************************************/
    /********************************************************************/

    .form-intro .hero img {
        height: 72px;
    }

    .form-intro .mid-dialog {
        text-align: left;

        align-items: flex-start;
    }


    /********************************************************************/
    /***** ARROWS *******************************************************/
    /********************************************************************/

    .arrows {
        gap: 4px;

        bottom: 12px;
        right: auto;
        left: 12px;
    }

    .arrows > div {
        width: 40px;
        height: 40px;
    }


    /********************************************************************/
    /***** FORM *********************************************************/
    /********************************************************************/

    .form-feed .form-container {
        width: 100%;
    }

    .form-feed .form-container form {
        padding: 20px 24px 80px 24px;
    }

    .form-container form .top-section {
        gap: 16px;

        margin-top: 0px;
    }

    .form-container form .top-section .brown-heading {
        margin-bottom: 0px;
    }

    .form-container form .top-section .main-dialog {
        margin-bottom: 0px;
    }

    .grey-dialog {
        font-size: 12px;
    }

    .form-container form .bot-section {
        width: 100%;
    }

    .error-dialog {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .error-dialog > p {
        padding: 5px 28px;
    }

    .radio-group {
        flex-direction: column;
        gap: 8px;
    }

    .radio-group .radio-label {
        width: 100%;
        height: 56px;
    }


    /********************************************************************/
    /***** EXTRA ********************************************************/
    /********************************************************************/

    #extra_guests_form .top-section {
        gap: 16px;
    }

    #extra_guests_form .top-section .brown-heading {
        margin-bottom: 0px;
    }

    #extra_guests_form .top-section .main-dialog {
        margin-bottom: 0px;
    }

    #extra_guests_form .top-section > p:last-of-type {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    
    .extra-guests-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        height: 32px;

        margin-top: 0px;
        margin-bottom: 12px;

        overflow-x: auto;
        overflow-y: hidden;

        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .extra-guests-container::-webkit-scrollbar {
        display: none;
    }

    .extra-guests-container .extra-guest-label {
        font-size: 12px;

        height: 28px;
    }

    .extra-guest-label > p:first-of-type {
        padding-left: 4px;
        padding-right: 4px;
    }

    .extra-guest-label > p:last-of-type {
        width: 28px;
        height: 28px;
    }

    .mini-form {
        gap: 10px;
    }

    .mini-form .text-label {
        width: calc(50% - 5px);
    }

    .mini-form .text-label > p {
        font-size: 12px;

        margin-bottom: 4px;
    }

    .mini-form .text-label:focus-within > p {
        font-size: 12px !important;
    }

    .mini-form .text-label:has(input:placeholder-shown) > p {
        font-size: 14px;
    }

    .mini-form input[type="text"] {
        font-size: 14px;

        padding-bottom: 4px;
    }

    .form-container form .mini-form .main-input:hover input[type="text"] {
        padding-bottom: 3px;
    }

    .form-container form .mini-form input[type="text"]:focus {
        padding-bottom: 3px;
    }

    .form-container #extra_guests_form .error-dialog {
        gap: 10px;

        margin-top: 5px;
        margin-bottom: 5px;
    }

    .form-container #extra_guests_form .error-dialog > p {
        padding: 0px 0px 0px 28px;
    }

    .submit-container {
        gap: 8px;
    }

    .add-guest {
        background-image: none;

        justify-content: center;

        padding-left: 0px;
        padding-right: 0px;
    }

    .add-guest.edit-mode {
        background-image: none;
    }
    
    .add-guest:hover {
        background-image: none;
    }

    .add-guest.edit-mode:hover {
        background-image: none;
    }

    #extra_guests_form .bot-section {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    /********************************************************************/
    /***** SUMMARY ******************************************************/
    /********************************************************************/

    main .form-summary .brown-heading {
        margin-bottom: 34px;
    }

    .summary-field {
        gap: 4px;
    }

    .form-summary .submit-container {
        flex-direction: column;
        margin-top: 24px;
    }

    .form-summary .submit-container .add-guest {
        min-width: auto;
        width: 100%;
    }

    .form-summary .submit-container .cta-button.input-button {
        min-width: auto;
        width: 100%;
    }
}